@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Media';
    src: url('fonts/Social\ Media\ Circled.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    padding: 0;
    font-family: 'Sansation';
    font-size: 20px;
    background-color: #44444E;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.drag {
    -webkit-app-region: drag;
    user-select: none;
}

header {
    background-color: #37353E;
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 12px;
    font-size: 13px;
}

.buttons input {
    -webkit-app-region: no-drag;
    cursor: pointer;
    transition: all ease 0.3s;
}

#exit-btn {
    background: none;
    border: none;
    padding: 12px;
    font-size: 25px;
    height: 100%;
}

#exit-btn:hover {
    background-color: #29282f;
}

#exit-btn:active {
    background-color: #ff0000;
}

#min-btn {
    background: none;
    border: none;
    padding: 12px;
    font-size: 25px;
    height: 100%;
}

#min-btn:hover {
    background-color: hsl(249, 8%, 17%);
}

#min-btn:active {
    background-color: #19191d;
}

.container {
    display: flex;
    height: calc(100% - 70px);
    justify-content: space-between;
}

.nav-apps {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 35%;
    height: 100%;
    background-color: #2a282f;
    user-select: none;
}

.nav-apps > p {
    margin-bottom: 10px;
}

.apps {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.app {
    background-color: #1b1b1f;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all ease 0.02s;
    cursor: pointer;
}

.app:hover {
    transform: scale(0.95);
}

.app:active {
    transform: scale(0.9);
}

#add-app {
    margin-top: auto;
    align-self: flex-end;
    background-color: #44444E;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    box-shadow: 3px 4px 3px #000;
    transition: all ease 0.1s;
    cursor: pointer;
}

#add-app:hover {
    background-color: #5b5b67;
    transform: scale(1.05);
}

#add-app:active {
    background-color: #6c6c76;
    transform: scale(0.95);
}